@model TeaserBlockViewModel

<div class="media span8">
    <div style="clear:both;">
        <div class="mediaImg">
            @Html.PropertyFor(m => m.CurrentBlock.TeaserImage)
        </div>
        <div class="mediaText">
            <h2 @Html.EditAttributes(m => m.CurrentBlock.TeaserHeading)>
                @Html.DisplayFor(m => m.CurrentBlock.TeaserHeading)
            </h2>
            <p @Html.EditAttributes(m => m.CurrentBlock.TeaserText)>
                @Html.DisplayFor(m => m.CurrentBlock.TeaserText)
            </p>
            <small>
                There has been @Model.TodayVisitorCount.ToString("N0") visitors today.
            </small>
        </div>
    </div>
</div>