@using EPiServer.Core
@using EPiServer.Web.Mvc
@model IPageViewModel<AlloyTraining.Models.Pages.StartPage>

<h1 @Html.EditAttributes(m => m.CurrentPage.Heading)>
    @(Model.CurrentPage.Heading ?? Model.CurrentPage.Name)
</h1>

@Html.PropertyFor(m => m.CurrentPage.MainBody)

@Html.FullRefreshPropertiesMetaData(new[] { "MainContentArea" })
<ul @Html.EditAttributes(m => m.CurrentPage.MainContentArea)>
    @foreach (ContentAreaItem item in Model.CurrentPage.MainContentArea.FilteredItems)
    {
        <li>@Html.ContentLink(item.ContentLink)</li>
    }
</ul>